

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 16px;
    
}

                             /* Header */

.main-header{
    display: flex;
    column-gap: 76px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(231, 233, 252, 1);
}

    .header-mobile{
        display: none;
        }

        /* WebLogo */

.web-logo{
    color: rgba(46, 47, 66, 1);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 0.03em;   
}

.accent-web {color: rgba(77, 90, 229, 1);}


                         /* HEAD - NAV+ADDRESS - LINKS */


.head-nav-menu{
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: rgba(46, 47, 66, 1);
    font-weight: 500;
    line-height: 1.5;
}

.head-nav-menu > li{
    padding: 24px 0; 
}

.head-nav-menu > li:nth-child(1){
    color: rgba(77, 90, 229, 1);
}

.head-nav-menu > li:nth-child(1)::after{
    display: block;
    content: "";
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    position: relative;
    bottom: -25px;
}

    .head-nav-menu > li:hover{
        color: rgba(77, 90, 229, 1);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);}

    .head-nav-menu > li:active:nth-child(1)::after{
        display: block;
        content: "";
        background-color: #404bbf;
        border-radius: 2px;
        height: 4px;
        margin-top: -4px;
        position: relative;
        bottom: -24px; 
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    } 

.header-contacts {
    color: rgba(46, 47, 66, 0.7);
    line-height: 1.5;
    margin-left: 260px;

}

.contact-list{
    display: flex;
    flex-direction: row;
    gap: 40px;   
}

.contact-list > li{
    padding: 24px 0;
}


    .contact-list :hover,
    .contact-list :focus {color: rgba(64, 75, 191, 1);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);}


                        /* FIRST MAIN SECTION (hero) - button & title */


.hero-section{
    background-color: rgba(46, 47, 66, 1);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
	to top, 
	rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7), 
	rgba(46, 47, 66, 0.7)), 
    url("../images/herobackground.jpg");
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    background-position: center;
}

.hero-title {
    color: rgba(255, 255, 255, 1);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 68px auto;
    }

.hero-button{
    background-color:  rgba(77, 90, 229, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
}

.hero-button:hover,
.hero-button:focus {color: rgba(255, 255, 255, 1);
        background: rgba(64, 75, 191, 1);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        outline: none;
        
    }
        


                           /* MAIN SECTION FEATURE */

.feature-list {
    display: flex;
    flex-direction: row;
    column-gap: 24px;;
}

.feature-list>li {
    width: calc((100% - 72px) / 4);
}

.feature-list > li > h3 {
    color: rgb(66, 46, 60);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.feature-list > li > p {
    color: rgb(66, 46, 57);
    line-height: 1.5;
}

.iconfeat {
    border: 1px solid rgba(142, 143, 153, 1);
    border-radius: 4px;
    margin-bottom: 8px;
}

/* MAIN SECTION TEAM_LIST - POPRAWA** */

.team-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 72px;
}

.team-section {
    background-color: rgba(244, 244, 253, 1);
}


.team-title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.team-list>li {
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
}

.team-descr {
    padding: 32px 0px;
    
}

.team-list>h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
}

.team-descr>p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.media-icon-team {
    display: flex;
    width: 100%;
    gap: 24px;
    margin: 0 auto;
    padding-top: 8px;
    cursor: pointer;
    justify-content: center;
}

.icon-team{
    fill: rgba(77, 90, 229, 1);
}

.icon-team:hover {
    fill: #404BBF;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MAIN SECTION PORTFOLIO */



.section-portfolio {
    text-align: center;
}

.portfolio-title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: rgba(46, 47, 66, 1);
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: row;
    gap: 48px 24px;
    flex-wrap: wrap;

}

.portfolio-list>li {
    text-align: left;
    width: calc((100% - 48px)/3);
    cursor: pointer;

}

.portfolio-list>li:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    height: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-descr {
    padding: 32px 16px;
    border: 1px solid rgba(231, 233, 252, 1);
    border-top: 0;
}

.portfolio-descr> h3 {
    color: rgba(46, 47, 66, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-bottom: 8px;

}

.portfolio-descr> p {
    color: rgba(67, 68, 85, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.wrapper{ 
    position: relative;
    display: flex;
    flex-direction: column;

}

.wrapper-content{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    background-color:rgba(77, 90, 229, 1);
    color: rgba(244, 244, 253, 1);
    padding: 40px 32px;
    width: 100%;
    height: 50%;
    right: 0; left: 0;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.wrapper:hover .wrapper-content{
    transform: translateY(0);
    height: 300px;
    opacity: 1;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


                /* Footer */

.footer-container{
    padding: 0;
}                
                
.wrap-footer {
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    align-items: center;
    justify-content: center;
}

.section-footer {
    background-color: rgba(46, 47, 66, 1);
}

.logo-descr-footer{
    margin-right: 40px
}

.logo-footer {
    color: rgba(244, 244, 253, 1);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
    margin-bottom: 16px;
}

.description-logo {
    color: rgba(244, 244, 253, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    margin-top: 16px;
    text-align: left;
}

/* Social footer  */

.subtitle-footer {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}

.media-icon-foot{
    display: flex;
    flex-direction: row;
    width: 232px;
    column-gap: 16px;
    margin: 0 auto;
    cursor: pointer;
}

.icon-foot{
    fill: rgba(77, 90, 229, 1);
}

.icon-foot:hover {
    fill: rgba(49, 208, 170, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* newsletter - sub */

.newsletter{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 24px;
}

.label-mail{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    text-align: left;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}



.label-mail > input{
    display: block;
    border-radius: 4px;
    padding: 8px 16px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: inherit;
    width: 264px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    height: 40px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
}

.label-mail > input:focus { outline: none; }

.e-mail > input::placeholder{
    color:rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    padding: 8px 16px;;
}

.newsletter > button {
    background-color: rgba(77, 90, 229, 1);
    display: flex;
    margin: 0;
    width: 165px;
    height: 40px;
    color: white;
    padding: 8px 24px;
    column-gap: 16px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
}

.newsletter > button:focus,
.newsletter > button:hover{
    background-color: rgba(64, 75, 191, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}

/* MODAL WINDOW */

/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 10;

}

.modal-window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    background: #fcfcfc;
    border-radius: 4px;

} */

/* form */


.form-container{
    margin: 0;
    padding: 24px;
    position: relative;
    width: 408px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.form-title {
    display: inline;
    padding: 24px 0px 16px 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.form-container > label{
    display:flex; 
    flex-direction: column;
    padding-bottom: 0;
    margin: 24px 0px 16px 0px;
    width: 100%;

}

.form-inform{
    color: rgba(142, 143, 153, 1);
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.form-exit{
    padding: 0;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    right: 24px;
    cursor: pointer;
    position: absolute;
    box-shadow: none;
    border: none;
}


.icon-form-exit{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    fill: rgba(231, 233, 252, 1);    
}
    
    .icon-form-exit:hover{
        border:none;
        fill: rgba(64, 75, 191, 1);
        --color3: white;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } 


/* INPUTS */

.label-wrapper{
    position: relative;
}
.input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 11px 0 11px 38px;
}

.input:focus{
    outline: none;
    border: 1px solid rgba(77, 90, 229, 1);
}

.icon-form{
    position: absolute;
    scale: 1.2;
    padding: 3px 0;
    margin: 8px 4px 8px 16px;
}

.label-wrapper:nth-child(4) > .icon-form{
    scale: 1.5;
}

#form-textarea {
    resize:none;
    outline: none;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
  }

  #form-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
  }

#form-textarea:focus{
    outline: none;
    border: 1px solid rgba(77, 90, 229, 1);
    
  }

.form-terms{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;

}

.form-checkbox{
    display: inline-flex;
    flex-direction: row;
    padding: 16px 0px 24px 0px;
    column-gap: 8px;
    justify-content: center;
    align-items: center;
}

.terms-p{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
}

.span-policy { 
    text-decoration: underline;
    color: rgba(77, 90, 229, 1);  
}

.form-submit{
    width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    background-color: rgba(77, 90, 229, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
}

.form-submit:hover,
.form-submit:focus{
    background-color: rgba(64, 75, 191, 1);
    outline: none;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-wrapper:focus-within {
    fill: rgba(77, 90, 229, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

/* svg-check */
.icon-checkedbox{
    fill: rgba(255, 255, 255, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    --color2: rgba(255, 255, 255, 1);
    
}

/* input check */
.input-checkbox{
    display: none;
    margin: 0;
}

/* input + svg */

.input-checkbox:checked + .icon-checkedbox{
    fill: rgba(64, 75, 191, 1);
    border: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* hamburger menu */
    .hamburger-menu{
        display: none;
    }

    .hamburger-button{
        width: 24px;
        height: 24px;
        cursor: pointer;
        opacity: 1; 
        background-color: transparent;
        border: none;
    }

    .hamburger-icon{
        display: block;
        scale: 1.4;
    }

 /* Menu form */

.is-open{
    display: none;
}

.menu-mobile{
    margin: 0 auto;
    display: flex;
    max-width: 100%;
    height: 100%;
    background-color: (255, 255, 255, 1);
    flex-direction: column;
    padding: 72px 24px 40px 16px;
    row-gap: 24px;
    position: relative;
}

.menu-list{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 144px;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    
}

.menu-list > li:nth-child(1){
    color: rgba(77, 90, 229, 1);
}

.menu-contact-list{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.menu-contact-list > li:nth-child(1){
    color: rgba(77, 90, 229, 1);
}

.menu-exit{
    border: none;
    width: 24px;
    height: 24px;
    right: 24px;
    top: 24px;
    cursor: pointer;
    position: absolute;
    box-shadow: none;
    border: none;
    background-color: transparent;
}



.icon-menu-exit{
    border-radius: 50%;
    fill:rgba(231, 233, 252, 1);
    border: 1px solid rgba(0, 0, 0, 0.1)
}

.menu-icon{
    fill: rgba(77, 90, 229, 1);
}